body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ul-right {
  display: flex;
  justify-content: flex-end;
}

li {
  float: left;
}

li a {
  display: flex;
  color: gray;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.search-img {
  padding: 90px 0px 50px 0px;
}

.nav-bar {
  display: flex;
  background-color: palevioletred;
  justify-content: flex-end;
}

.nav-left {
  background-color: white;
  width: 50%;
}

.nav-left li {
  float: left;
}

.nav-right {
  background-color: white;
  width: 50%;
}

.nav-links {
  text-decoration: none;
  color: gray;
}

.search-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 600px;
}

.search-container:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

#input-box {
  width: 545px;
  min-width: 350px;
  border-radius: 50px;
  height: 34px;
  padding: 0px 0px 0px 15px;
  border: none;
}

#input-box:hover {

}

#email-circle {
  border-radius: 50px;
  width: 26px;
  height: 26px;
  padding: 0px 0px 0px 0px;
}

#square-menu {
  width: 20px;
  height: 20px;
  color: gray;
}

.button-container {
  display: flex;
justify-content: center;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(231, 231, 231);
}

.footer {
  display: flex;
  justify-content: center;
}

svg {
  background-color: magenta;
}

.form-mic {
}




.buttons {
  border: none;
  border-radius: 2px;
  opacity: 0.75;
  height: 36px;
  justify-content: space-around;
}

.buttons:hover {
  box-shadow: 0 1px 2px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}


.micbutton {
    width: 25px;
    height: 25px;
   
    border: none;
    background: transparent;
    background-image: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 0px 0px 0px 0px;

